# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Node Js
        uses: actions/setup-node@v2-beta
        with:
          node-version: 12 
      - name: yarn install
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install 
      

         # - name: yarn install
      # - uses: borales/actions-yarn@v2.0.0
      #   with:
      #     cmd: install 
      
      - name: chimpwizards-npm-build
        uses: chimpwizards-pipeline/npm-build@v1.0.7

      # - name: Yarn Build
      # - uses: borales/actions-yarn@v2.0.0
      #   with:
      #     cmd: build # will run `yarn build` command

          
      - name: Installing surge
        run: npm install -g surge

      - name: Deploy on Surge
        run: surge ./build project7671.surge.sh --token ${{ secrets.PROJECT7671 }} 
